<div class="row-fluid">
	<%= render 'partials/online_connections/crypto_table' %>
</div>

<div class="row-fluid">
	<section class="span8">
		<%= render 'partials/graphs/radar_dashboard' %>
	</section>
</div>