<table class="table table-hover">
	<thead class="well">
		<tr>
			<th>Transaction ID</th>
			<th>Possible Origin</th>
			<th>Amount (BTC)</th>
			<th>Amount (USD)</th>
			<th>Date</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>...9c991bfe0a</td>
			<td>New York</td>
			<td>0.63436</td>
			<td>0.63436</td>
			<td>05/07/2014 15:21</td>
			<td><a class="btn btn-small btn-danger">Unconfirmed</a></td>
		</tr>
		<tr>
			<td>...6cf5ac062b</td>
			<td>Texas</td>
			<td>0.63436</td>
			<td>0.04592</td>
			<td>05/07/2014 13:49 </td>
			<td><a class="btn btn-warning">2 Confirmations</a></td>
		</tr>
		<tr>
			<td>...f02f39d70d7</td>
			<td>Amsterdam</td>
			<td>0.63436</td>
			<td>0.10430</td>
			<td>05/07/2014 12:05 </td>
			<td><a class="btn btn-primary">6 Confirmations</a></td>
		</tr>
		<tr>
			<td>...b9c9df879f3</td>
			<td>Los Angeles</td>
			<td>0.63436</td>
			<td>0.05417</td>
			<td>05/07/2014 09:53</td>
			<td><a class="btn btn-primary">9 Confirmations</a></td>
		</tr>
	</tbody>
</table>