<% provide(:title, @user.name) %>
<div class="row-fluid">
	<aside class="span4">
		<section>
			<%#= gravatar_for @user %>
			<h2 id="username"><%= @user.name %></h2>
		</section>
	</aside>
</div>

<% if @user.addresses.any? %>
<%#= render 'partials/graphs/piechart_dashboard' %>
<%#= render 'partials/graphs/linechart_dashboard' %>
<%= render 'partials/graphs/full_piechart_dashboard' %>
<div class="row-fluid">
	<%#= render 'partials/tables/dashboard_table' %>
</div>
<% end -%>
<br>
<%= link_to "Add address", new_address_path, class: "btn btn-primary" %>
