<footer class="footer">
  <small>
    Altcoin &copy; 2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
      <li><%= link_to "Help",    help_path %></li>
    </ul>
  </nav>
</footer>